DOC/TP1/trunk/meteo32.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xsd:schema		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				targetNamespace=".\DOC_TP1"
				xmlns:releve=".\DOC_TP1"
            	elementFormDefault="qualified"
				attributeFormDefault="unqualified" 
  		    >
  	
  	<!-- root element -->
  	<xsd:element name="relevéJournalier" type="releve:RelevéJournalier"/>
  	
	<xsd:complexType name="RelevéJournalier" mixed="false">
		<xsd:sequence>
			<xsd:element name="relevéSimple" type="releve:RelevéSimple"
				minOccurs="1" maxOccurs="24" />
			<xsd:element name="cumulPrécipitation" type="releve:Précipitation" />
			<xsd:element name="jour" type="xsd:date" />
		</xsd:sequence>
	</xsd:complexType>
  	
  	<xsd:complexType name="RelevéSimple" mixed="false">
  		<xsd:sequence >
  			<xsd:element  name="relevéMetéo" type="releve:RelevéMetéo" />
  		</xsd:sequence >
  	</xsd:complexType>
  	
  	<xsd:simpleType name="Temperature" >
		<xsd:restriction base="xsd:string" >
			<xsd:pattern value="[0-9]+°[F|C]" />
		</xsd:restriction>
	</xsd:simpleType >
	
	<xsd:complexType name="RelevéMetéo" mixed="false">
			<xsd:sequence >
				<xsd:element name="dateRelevé" type="xsd:date" />
				<xsd:element name="heurRelevé" type="releve:dtime" />
				<xsd:element name="pression" type="releve:dpression" />
				<xsd:element name="humidité" type="releve:percent"/>
				<xsd:element name="vent" type="releve:Vent" />
			</xsd:sequence >
			<xsd:attribute name="dtemperature" type="releve:Temperature" use="required"/>
	</xsd:complexType>
	
	<xsd:simpleType name="dtime">
		<xsd:restriction base="xsd:time">
			<!-- xsd:pattern value="hh:mm:ss+?-?hh:mm]" /-->
			<xsd:pattern value="[0-9]{2}\:[0-9]{2}\:[0-9]{2}[+|-][0-9]{2}\:[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="dpression">
		<xsd:restriction base="xsd:integer">
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="percent">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="100|[0-9]{2}|[0-9]{1}" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="Vent" mixed="false">
			<xsd:sequence  >
				<xsd:element name="force" type="releve:forceVent" />
				<xsd:element name="direction" type="releve:PointCardinaux" />
			</xsd:sequence >
	</xsd:complexType>
	
	<xsd:simpleType name="forceVent">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]+ [ms|m/s|km/s|m/h]+|1[0-2]{1}|[0-9]{1}" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="PointCardinaux">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="N|NE|NO|S|SE|SO|E|O" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="Précipitation">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]+ mm" />
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>	    