DOC/TP1/trunk/meteo2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="METEO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pays" type="xs:string"/>
				<xs:element name="nom" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="latitude" type="xs:string" use="required"/>
			<xs:attribute name="longitude" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
