DOC/TP1/trunk/meteo33.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<!--  xsd:schema		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				targetNamespace="H:\windows\workspace\DOC_TP1"
				xmlns:station="H:\windows\workspace\DOC_TP1"
				xmlns:releve="H:\windows\workspace\DOC_TP1"
            	elementFormDefault="qualified"
				attributeFormDefault="unqualified" 
  		    -->
<xsd:schema		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				xmlns:station=".\DOC_TP1"
				xmlns:releve=".\DOC_TP1"
            	elementFormDefault="qualified"
				attributeFormDefault="unqualified" 
  		    >

<!--  xmlns:releve="H:\windows\workspace\DOC_TP1" -->
<xsd:import namespace=".\DOC_TP1" schemaLocation="meteo32.xsd" />
<xsd:import namespace=".\DOC_TP1" schemaLocation="meteo31.xsd" />

<!--  root element -->
<xsd:element name="RACINE" >
	<xsd:complexType mixed="false">
		<xsd:sequence>
			<xsd:element name="listStationMeteo" type="station:ListStationMeteo" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="stationDaySamples" type="StationDaySamples" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:complexType name="StationDaySamples" mixed="false" >
	<xsd:sequence>
		<!--xsd:element name="relevéJournalier" type="releve:RelevéJournalier" minOccurs="1" maxOccurs="unbounded" /-->
		<xsd:element name="relevéJournalier" type="releve:RelevéJournalier" minOccurs="1" maxOccurs="unbounded"/>
		<xsd:element name="stationRef" type="xsd:IDREF" />
	</xsd:sequence>
</xsd:complexType>

</xsd:schema>