DOC/TP3/trunk/cuisine.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by pcinstal (Université de Rennes 1/IFSIC) -->
<!--DTD generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT description (#PCDATA)>
<!ELEMENT ingredient (ingredient*, preparation?)>
<!ATTLIST ingredient
	nom CDATA #REQUIRED
	qte CDATA #IMPLIED
	unit (can | cup | jar | ounce | package | pound | ribs | tablespoon | teaspoon) #IMPLIED
>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT note (#PCDATA)>
<!ELEMENT nutrition EMPTY>
<!ATTLIST nutrition
	calories CDATA #REQUIRED
	gras CDATA #REQUIRED
	glucides CDATA #REQUIRED
	proteines CDATA #REQUIRED
	alcool CDATA #IMPLIED
>
<!ELEMENT pas (#PCDATA)>
<!ELEMENT preparation (pas+)>
<!ELEMENT recette (nom, ingredient+, preparation, note?, nutrition)>
<!ELEMENT recettes (description, recette+)>
