DOC/TP3/trunk/cuisine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="description" type="xs:string"/>
	<xs:element name="ingredient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ingredient" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="preparation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="nom" type="xs:string" use="required"/>
			<xs:attribute name="qte" type="quantité"/>
			<xs:attribute name="unit">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="can"/>
						<xs:enumeration value="cup"/>
						<xs:enumeration value="jar"/>
						<xs:enumeration value="ounce"/>
						<xs:enumeration value="package"/>
						<xs:enumeration value="pound"/>
						<xs:enumeration value="ribs"/>
						<xs:enumeration value="tablespoon"/>
						<xs:enumeration value="teaspoon"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="nom" type="xs:string"/>
	<xs:element name="note" type="xs:string"/>
	<xs:element name="nutrition">
		<xs:complexType>
			<xs:attribute name="calories" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">

					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="gras" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="glucides" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
					
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="proteines" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="alcool" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="pas" type="xs:string"/>
	<xs:element name="preparation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pas" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="recette">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nom"/>
				<xs:element ref="ingredient" maxOccurs="unbounded"/>
				<xs:element ref="preparation"/>
				<xs:element ref="note" minOccurs="0"/>
				<xs:element ref="nutrition"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="recettes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description"/>
				<xs:element ref="recette" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="quantité">
		<xs:restriction base="xs:string">	
			<xs:pattern value="[0-9]+|[0-9]+\.[0-9]+|\.[0-9]+|\*"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>
