 m2engineeringsoftware/wso2/batchConsumer/branch/batchConsumerCheckDelivery/resources/wsdl/articleConditional.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	You under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->

<wsdl:definitions name="ArticleConditionalWSImplService"
	targetNamespace="http://conditional.wso2.esb.stage.sodifrance.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://conditional.wso2.esb.stage.sodifrance.com/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://conditional.wso2.esb.stage.sodifrance.com/"
				schemaLocation="articlewsConditional_schema1.xsd" />
		</schema>
	</wsdl:types>
	<wsdl:message name="getArticleConditionalResponse">
		<wsdl:part name="parameters" element="tns:getArticleConditionalResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getArticleConditional">
		<wsdl:part name="parameters" element="tns:getArticleConditional">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ArticleConditionalWS">
		<wsdl:operation name="getArticleConditional">
			<wsdl:input name="getArticleConditional" message="tns:getArticleConditional">
			</wsdl:input>
			<wsdl:output name="getArticleConditionalResponse"
				message="tns:getArticleConditionalResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ArticleConditionalWSImplServiceSoapBinding"
		type="tns:ArticleConditionalWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getArticleConditional">
			<soap:operation soapAction="urn:getArticleConditional"
				style="document" />
			<wsdl:input name="getArticleConditional">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getArticleConditionalResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ArticleConditionalWSImplService">
		<wsdl:port name="ArticleConditionalWSImplPort"
			binding="tns:ArticleConditionalWSImplServiceSoapBinding">
			<soap:address location="http://localhost:8085/ArticleConditionalWSImplPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://conditional.wso2.esb.stage.sodifrance.com/" 
	elementFormDefault="unqualified" 
	targetNamespace="http://conditional.wso2.esb.stage.sodifrance.com/" 
	version="1.0">

	<xs:element name="getAllArticleConditional" type="tns:getAllArticleConditional" />

	<xs:element name="getAllArticleConditionalResponse" type="tns:getAllArticleConditionalResponse" />
	
	<xs:element name="getArticleConditional" type="tns:getArticleConditional" />

	<xs:element name="getArticleConditionalResponse" type="tns:getArticleConditionalResponse" />

	<xs:complexType name="getAllArticleConditional">
    	<xs:sequence>
    		<xs:element maxOccurs="1" minOccurs="1" name="wantedkind" type="xs:string"></xs:element>
    	</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAllArticleConditionalResponse">
    	<xs:sequence>
    		<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ArticleConditional"/>
    	</xs:sequence>
  	</xs:complexType>

	<xs:complexType name="getArticleConditional">
    	<xs:sequence>
    		<xs:element maxOccurs="1" minOccurs="1" name="wantedkind" type="xs:string"></xs:element>
    		<xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"></xs:element>
    	</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getArticleConditionalResponse">
    	<xs:sequence>
    		<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ArticleConditional"/>
    	</xs:sequence>
  	</xs:complexType>

	<xs:complexType name="ArticleConditional">
    	<xs:sequence>
      		<xs:element minOccurs="0" name="author" type="xs:string"/>
      		<xs:element minOccurs="0" name="kind">
      			<xs:simpleType>
    				<xs:restriction base="xs:string">
      					<xs:enumeration value="cd"/>
      					<xs:enumeration value="book"/>
    				</xs:restriction>
  				</xs:simpleType>
      		</xs:element>
      		<xs:element minOccurs="0" name="editor" type="xs:string"/>
      		<xs:element minOccurs="0" name="meta" type="xs:string"/>
      		<xs:element minOccurs="0" name="title" type="xs:string"/>
      		<xs:element minOccurs="0" name="publishDate" type="xs:string"/>
      		<xs:element minOccurs="0" name="releaseDate" type="xs:string"/>
    	</xs:sequence>
	</xs:complexType>
</xs:schema>